/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a class attribute */
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Primary */
/* Neutrals */
/* Secondary */
/* System colors */
.column_1 {
  margin: 0 16px;
}

@media (min-width: 768px) {
  .column_1 {
    margin: 0 24px;
  }
}
@media (min-width: 1280px) {
  .column_1 {
    margin: 0 128px;
  }
}
@media (min-width: 1728px) {
  .column_1 {
    margin: 0 10%;
  }
}
.column_2 {
  margin: 0 36px;
}

@media (min-width: 768px) {
  .column_2 {
    margin: 0 56px;
  }
}
@media (min-width: 1280px) {
  .column_2 {
    margin: 0 164px;
  }
}
@media (min-width: 1728px) {
  .column_2 {
    margin: 0 10%;
  }
}
.column_3 {
  margin: 0 56px;
}

@media (min-width: 768px) {
  .column_3 {
    margin: 0 88px;
  }
}
@media (min-width: 1280px) {
  .column_3 {
    margin: 0 200px;
  }
}
@media (min-width: 1728px) {
  .column_3 {
    margin: 0 10%;
  }
}
.column_4 {
  margin: 0 76px;
}

@media (min-width: 768px) {
  .column_4 {
    margin: 0 120px;
  }
}
@media (min-width: 1280px) {
  .column_4 {
    margin: 0 236px;
  }
}
@media (min-width: 1728px) {
  .column_4 {
    margin: 0 10%;
  }
}
.column_5 {
  margin: 0 96px;
}

@media (min-width: 768px) {
  .column_5 {
    margin: 0 152px;
  }
}
@media (min-width: 1280px) {
  .column_5 {
    margin: 0 272px;
  }
}
@media (min-width: 1728px) {
  .column_5 {
    margin: 0 10%;
  }
}
.column_6 {
  margin: 0 116px;
}

@media (min-width: 768px) {
  .column_6 {
    margin: 0 184px;
  }
}
@media (min-width: 1280px) {
  .column_6 {
    margin: 0 308px;
  }
}
@media (min-width: 1728px) {
  .column_6 {
    margin: 0 10%;
  }
}
.column_7 {
  margin: 0 136px;
}

@media (min-width: 768px) {
  .column_7 {
    margin: 0 216px;
  }
}
@media (min-width: 1280px) {
  .column_7 {
    margin: 0 344px;
  }
}
@media (min-width: 1728px) {
  .column_7 {
    margin: 0 10%;
  }
}
.column_8 {
  margin: 0 156px;
}

@media (min-width: 768px) {
  .column_8 {
    margin: 0 248px;
  }
}
@media (min-width: 1280px) {
  .column_8 {
    margin: 0 380px;
  }
}
@media (min-width: 1728px) {
  .column_8 {
    margin: 0 10%;
  }
}
.column_9 {
  margin: 0 176px;
}

@media (min-width: 768px) {
  .column_9 {
    margin: 0 280px;
  }
}
@media (min-width: 1280px) {
  .column_9 {
    margin: 0 416px;
  }
}
@media (min-width: 1728px) {
  .column_9 {
    margin: 0 10%;
  }
}
.column_10 {
  margin: 0 196px;
}

@media (min-width: 768px) {
  .column_10 {
    margin: 0 312px;
  }
}
@media (min-width: 1280px) {
  .column_10 {
    margin: 0 452px;
  }
}
@media (min-width: 1728px) {
  .column_10 {
    margin: 0 10%;
  }
}
.column_11 {
  margin: 0 216px;
}

@media (min-width: 768px) {
  .column_11 {
    margin: 0 344px;
  }
}
@media (min-width: 1280px) {
  .column_11 {
    margin: 0 488px;
  }
}
@media (min-width: 1728px) {
  .column_11 {
    margin: 0 10%;
  }
}
.column_12 {
  margin: 0 236px;
}

@media (min-width: 768px) {
  .column_12 {
    margin: 0 376px;
  }
}
@media (min-width: 1280px) {
  .column_12 {
    margin: 0 524px;
  }
}
@media (min-width: 1728px) {
  .column_12 {
    margin: 0 10%;
  }
}
.main {
  margin-top: 70px;
  background-color: #0d090a;
}

/*# sourceMappingURL=main.css.map */
