.about {
  @include typography.jost;
  color: colors.$cf-color-white-500;
  font-size: 20px;
  &__header {
    @include typography.spaceGrotesk;
    font-size: 48px;
    font-weight: fontWeight.$regular;
  }
  &__description {
    margin: spacing.$spacing150 0 spacing.$spacing250;
    &__text {
      margin-bottom: spacing.$spacing50;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: gridSystem.$regularDevice) {
  .about {
    &__description {
      $marginLeft: (gridSystem.$regularDeviceColumnWidth * 6) +
        (gridSystem.$regularDeviceGap * 6);
      margin: 120px 0 120px $marginLeft;
    }
  }
}

@media (min-width: gridSystem.$largeDevice) {
  .about {
    &__description {
      $marginLeft: (gridSystem.$largeDeviceColumnWidth * 6) +
        (gridSystem.$largeDeviceGap * 6);
      margin: 120px 0 120px $marginLeft;
    }
  }
}
