$spacing0: 0rem; // 0px
$spacing25: 0.25rem; // 4px
$spacing50: 0.50rem; // 8px
$spacing75: 0.75rem; // 12px
$spacing100: 1rem; // 16px
$spacing150: 1.5rem; // 24px
$spacing200: 2rem; // 32px
$spacing250: 2.5rem; // 40px
$spacing300: 3rem; // 48px
$spacing350: 3.5rem; // 56px
$spacing400: 4rem; // 64px
$spacing450: 4.5rem; // 72px
$spacing500: 5rem; // 80px
$spacing600: 6rem; // 96px
$spacing750: 7.5rem; // 120px