.about {
  > :nth-child(1) {
    padding: spacing.$spacing150 0 spacing.$spacing250;
  }
  > :nth-child(2) {
    padding: spacing.$spacing250 0;
  }
}

@media (min-width: gridSystem.$mediumDevice) {
  .about {
    > :nth-child(2) {
      padding: spacing.$spacing250 0 spacing.$spacing750 0;
    }
  }
}

@media (min-width: gridSystem.$regularDevice) {
  .about {
    > :nth-child(1) {
      padding: spacing.$spacing750 0;
    }
  }
}
