.contact {
  min-height: calc(100dvh - 80px);
  > :nth-child(1) {
    padding: spacing.$spacing150 0;
  }
  + footer {
    background-color: colors.$cf-color-black-500;
  }
}

@media (min-width: gridSystem.$regularDevice) {
  .contact {
    min-height: calc(100dvh - 60px);
    > :first-child {
      padding-top: spacing.$spacing500;
    }
  }
}
