.projectId {
    > :nth-child(1) {
        padding: spacing.$spacing150 0;
    }
    > :nth-child(2) {
        padding: spacing.$spacing600 0 spacing.$spacing250;
    }
}

@media (min-width: gridSystem.$regularDevice) {
    .projectId {
        > :nth-child(1) {
            padding: spacing.$spacing500;
        }
        > :nth-child(2) {
            padding: spacing.$spacing400 0 spacing.$spacing750;
        }
    }
  }
  