.information {
  @include typography.jost;
  color: colors.$cf-color-white-500;
  font-size: 20px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    img {
      width: 100%;
      max-height: 360px;
    }
  }
}

@media (min-width: gridSystem.$mediumDevice) {
  .information {
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: gridSystem.$mediumDeviceGap;
      align-items: flex-end;
      img {
        max-height: 500px;
        max-width: 599px;
        justify-self: flex-end;
      }
    }
  }
}

@media (min-width: gridSystem.$regularDevice) {
  .information {
    &__wrapper {
      grid-template-columns: 1.2fr 1fr;
      gap: gridSystem.$regularDeviceColumnWidth +
        (gridSystem.$regularDeviceGap * 2);
      img {
        max-height: 592px;
      }
    }
  }
}

@media (min-width: gridSystem.$largeDevice) {
  .information {
    &__wrapper {
      grid-template-columns: 1fr 1fr;
      gap: (gridSystem.$largeDeviceColumnWidth * 2) +
        (gridSystem.$largeDeviceGap * 3);
      img {
        max-height: 800px;
      }
    }
  }
}
