$maxWidth: 768px;

.articleCard {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 40px;
  border-bottom: 1px solid colors.$cf-color-white-500;
  &__image {
    width: 100%;
    height: 275px;
  }
  &__information {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
    &__date {
      @include typography.jost;
      font-weight: fontWeight.$regular;
      font-size: 16px;
      color: colors.$cf-color-white-500;
    }
    &__title {
      @include typography.spaceGrotesk;
      font-weight: fontWeight.$medium;
      font-size: 40px;
      color: colors.$cf-color-white-500;
    }
    &__description {
      @include typography.jost;
      font-weight: fontWeight.$regular;
      font-size: 16px;
      color: colors.$cf-color-white-500;
    }
    > :last-child {
      align-self: flex-end;
    }
  }
}

@media (min-width: gridSystem.$regularDevice) {
  $maxWidth: 500px;
  .articleCard {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: gridSystem.$regularDeviceColumnWidth +
      (gridSystem.$regularDeviceGap * 2);
    text-align: start;
    &__information {
      &__wrapper {
        max-width: 500px;
      }
      margin-right: gridSystem.$regularDeviceColumnWidth +
        gridSystem.$regularDeviceGap;
      > :last-child {
        margin-top: 10px;
      }
    }
  }
}

@media (min-width: gridSystem.$largeDevice) {
  .articleCard {
    &__information {
      margin-right: gridSystem.$largeDeviceColumnWidth +
        gridSystem.$largeDeviceGap;
    }
  }
}
