.projectCard {
  @include typography.spaceGrotesk;
  font-weight: fontWeight.$regular;
  font-size: 24px;
  color: colors.$cf-color-white-500;
  display: flex;
  flex-direction: column;
  width: 100%;
  &__image {
    max-height: 516px;
  }
  &__name {
    font-weight: fontWeight.$regular;
    font-size: 40px;
  }
  &__date {
    display: block;
    margin-top: 8px;
  }
  :last-child {
    align-self: flex-end;
  }
}
