.valueContainer {
	display: flex;
	flex-direction: column;
	color: colors.$cf-color-white-500;

	&__image {
		width: 5rem;
		height: 5rem;
	}

	&__title {
		@include typography.spaceGrotesk;
		font-size: 1.5rem;
		font-weight: fontWeight.$bold;
	}

	&__description {
		@include typography.jost;
		font-size: 0.875rem;
		font-weight: fontWeight.$light;
		line-height: 110%;
	}
}
