@mixin fadeOut {
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
@mixin fadeIn {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@mixin moveRight {
  @keyframes moveRight {
    0% {
      translate: 0 0;
    }
    100% {
      translate: 250% 0;
    }
  }
}
