@mixin firaCode {
  font-family: "Fira Code", monospace;
}

@mixin jost {
  font-family: "Jost", sans-serif;
}

@mixin monserrat {
  font-family: "Montserrat", sans-serif;
}

@mixin spaceGrotesk {
  font-family: "Space Grotesk", sans-serif;
}
