@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Jost:wght@300;400;600;700&family=Montserrat&family=Space+Grotesk:wght@400;500;700&display=swap");

@mixin firaCode {
  font-family: "Fira Code", monospace;
}

@mixin jost {
  font-family: "Jost", sans-serif;
}

@mixin monserrat {
  font-family: "Montserrat", sans-serif;
}

@mixin spaceGrotesk {
  font-family: "Space Grotesk", sans-serif;
}
