@use 'sass:math';
@use "../utilities/colors";

@debug "grid-system";
$smallDevice: 360px;
$mediumDevice: 768px;
$regularDevice: 1280px;
$largeDevice: 1728px;

// Outter margin
$smallDeviceMargin: 16px;
$mediumDeviceMargin: 24px;
$regularDeviceMargin: 128px;
$largeDeviceMargin: 10%;

// Grid column margin
$smallDeviceGap: 16px;
$mediumDeviceGap: 24px;
$regularDeviceGap: 24px;
$largeDeviceGap: 24px;

@function calculateColumnWidth($columnsNumber, $gap, $device, $margin) {
  @debug $gap;
  @debug $columnsNumber;
  $totalGap: $gap * ($columnsNumber - 1);
  @debug $totalGap;
  $totalColumnWidth: $device - $margin - $totalGap;
  @debug $totalColumnWidth;
  @debug $columnsNumber;
  $columnWidth: math.div($totalColumnWidth, $columnsNumber);
  @debug $columnWidth;
  @return $columnWidth;
}

// Grid column width
$smallDeviceColumnWidth: calculateColumnWidth(
  4,
  $smallDeviceGap,
  $smallDevice,
  $smallDeviceMargin
);
$mediumDeviceColumnWidth: calculateColumnWidth(
  8,
  $mediumDeviceGap,
  $mediumDevice,
  $mediumDeviceMargin
);
$regularDeviceColumnWidth: calculateColumnWidth(
  12,
  $regularDeviceGap,
  $regularDevice,
  $regularDeviceMargin
);
$largeDeviceColumnWidth: 101px;

@function calculateLateralMargin(
  $deviceMargin,
  $deviceColumnWidth,
  $deviceGap,
  $i
) {
  $finalMargin: $deviceMargin + (($deviceColumnWidth + $deviceGap) * ($i - 1));
  @return $finalMargin;
}

@for $_i from 1 to 13 {
  .column_#{$_i} {
    margin: 0
      calculateLateralMargin(
        $smallDeviceMargin,
        $smallDeviceColumnWidth,
        $smallDeviceGap,
        $_i
      );
  }
  @media (min-width: $mediumDevice) {
    .column_#{$_i} {
      margin: 0
        calculateLateralMargin(
          $mediumDeviceMargin,
          $mediumDeviceColumnWidth,
          $mediumDeviceGap,
          $_i
        );
    }
  }
  @media (min-width: $regularDevice) {
    .column_#{$_i} {
      margin: 0 calculateLateralMargin(
        $regularDeviceMargin,
        $regularDeviceColumnWidth,
        $regularDeviceGap,
        $_i
      );
    }
  }
  @media (min-width: $largeDevice) {
    .column_#{$_i} {
      margin: 0 $largeDeviceMargin;
    }
  }
}

.main {
  margin-top: 70px;
  background-color: colors.$cf-color-black-500;
}
