@use "../utilities/colors";

// Outter margin
$mobileMargin: 16px;
$desktopMargin: 128px;
// Grid column width
$mobileWidthColumn: 70px;
$desktopWidthColumn: 60px;
// Grid column margin
$mobileMarginColumn: 16px;
$desktopMarginColumn: 16px;

$mediaDesktop: 1280px;

@for $_i from 1 to 13 {
  .column_#{$_i} {
    margin: 0
      $mobileMargin +
      (($mobileWidthColumn + $mobileMarginColumn) * ($_i - 1));
  }
  @media (min-width: 1024px) {
    .column_#{$_i} {
      margin: 0 $desktopMargin +
        (($desktopWidthColumn + $desktopMarginColumn) * ($_i - 1));
    }
  }
  @media (min-width: 1440px) {
    .column_#{$_i} {
      margin: 0 10%;
    }
  }
}

.main {
  margin-top: 70px;
  background-color: colors.$cf-color-black-500;
}
