.articles {
    > :first-child {
        padding-bottom: 40px;
    }
}

@media (min-width: gridSystem.$regularDevice) {
    .articles {
        > :first-child {
            padding-bottom: 120px;
            margin: 0 150px;
        }
    }
  }
  