.home {
  padding-top: 0;
  > :nth-child(4) {
    padding: spacing.$spacing600 0 spacing.$spacing250;
  }
  &__image {
    width: 100%;
    max-height: 450px;
  }
}

@media (min-width: gridSystem.$mediumDevice) {
  .home {
    > :nth-child(1) {
      padding-bottom: spacing.$spacing250;
    }
    > :nth-child(4) {
      padding: spacing.$spacing250 0;
    }
    &__image {
      max-height: 500px;
    }
  }
}
@media (min-width: gridSystem.$regularDevice) {
  .home {
    > :nth-child(1) {
      padding-bottom: spacing.$spacing400;
    }
    > :nth-child(4) {
      padding: spacing.$spacing500 0;
    }
    &__image {
      max-height: 700px;
    }
  }
}
@media (min-width: gridSystem.$largeDevice) {
  .home {
    > :nth-child(1) {
      padding-bottom: spacing.$spacing600;
    }
  }
}
