.projectId {
    > :first-child {
        padding-top: 80px;
    }
    > :nth-child(2) {
        padding: 120px 0 40px;
    }
}

@media (min-width: gridSystem.$regularDevice) {
    .projectId {
        > :nth-child(2) {
            padding: 120px 0;
        }
    }
  }
  