.mainProjects {
  padding-top: 70px;
  > :first-child {
    padding: 25px 0 40px;
  }
}

@media (min-width: gridSystem.$regularDevice) {
  .mainProjects {
    > :first-child {
      padding: 80px 0 120px;
    }
  }
}
