/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/presentation/styles/main.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Jost:wght@300;400;600;700&family=Montserrat&family=Space+Grotesk:wght@400;500;700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.column_1 {
  margin: 0 16px;
}

@media (min-width: 1024px) {
  .column_1 {
    margin: 0 150px;
  }
}
@media (min-width: 1440px) {
  .column_1 {
    margin: 0 10%;
  }
}
.column_2 {
  margin: 0 102px;
}

@media (min-width: 1024px) {
  .column_2 {
    margin: 0 226px;
  }
}
@media (min-width: 1440px) {
  .column_2 {
    margin: 0 10%;
  }
}
.column_3 {
  margin: 0 188px;
}

@media (min-width: 1024px) {
  .column_3 {
    margin: 0 302px;
  }
}
@media (min-width: 1440px) {
  .column_3 {
    margin: 0 10%;
  }
}
.column_4 {
  margin: 0 274px;
}

@media (min-width: 1024px) {
  .column_4 {
    margin: 0 378px;
  }
}
@media (min-width: 1440px) {
  .column_4 {
    margin: 0 10%;
  }
}
.column_5 {
  margin: 0 360px;
}

@media (min-width: 1024px) {
  .column_5 {
    margin: 0 454px;
  }
}
@media (min-width: 1440px) {
  .column_5 {
    margin: 0 10%;
  }
}
.column_6 {
  margin: 0 446px;
}

@media (min-width: 1024px) {
  .column_6 {
    margin: 0 530px;
  }
}
@media (min-width: 1440px) {
  .column_6 {
    margin: 0 10%;
  }
}
.column_7 {
  margin: 0 532px;
}

@media (min-width: 1024px) {
  .column_7 {
    margin: 0 606px;
  }
}
@media (min-width: 1440px) {
  .column_7 {
    margin: 0 10%;
  }
}
.column_8 {
  margin: 0 618px;
}

@media (min-width: 1024px) {
  .column_8 {
    margin: 0 682px;
  }
}
@media (min-width: 1440px) {
  .column_8 {
    margin: 0 10%;
  }
}
.column_9 {
  margin: 0 704px;
}

@media (min-width: 1024px) {
  .column_9 {
    margin: 0 758px;
  }
}
@media (min-width: 1440px) {
  .column_9 {
    margin: 0 10%;
  }
}
.column_10 {
  margin: 0 790px;
}

@media (min-width: 1024px) {
  .column_10 {
    margin: 0 834px;
  }
}
@media (min-width: 1440px) {
  .column_10 {
    margin: 0 10%;
  }
}
.column_11 {
  margin: 0 876px;
}

@media (min-width: 1024px) {
  .column_11 {
    margin: 0 910px;
  }
}
@media (min-width: 1440px) {
  .column_11 {
    margin: 0 10%;
  }
}
.column_12 {
  margin: 0 962px;
}

@media (min-width: 1024px) {
  .column_12 {
    margin: 0 986px;
  }
}
@media (min-width: 1440px) {
  .column_12 {
    margin: 0 10%;
  }
}
/* Primary */
/* Neutrals */
/* Secondary */
/* System colors */
