$paddingSmall: 168px;
$paddingMedium: 320px;
$paddingRegular: 180px;
$paddingLarge: 410px;

.projectsTable {
  min-height: 100dvh;
  text-align: center;
  display: flex;
  align-items: center;

  background-color: colors.$cf-color-sapphire-700;
  &__header {
    @include typography.spaceGrotesk;
    color: colors.$cf-color-white-500;
    font-size: 48px;
    margin-bottom: 16px;
  }
  &__wrapper {
    flex-grow: 1;
    > :last-child {
      margin-top: 40px;
    }
  }
}

.project__row {
  @include typography.jost;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: flex-end;
  align-items: center;
  color: colors.$cf-color-white-500;
  font-size: 24px;
  font-weight: fontWeight.$regular;
  border-bottom: 1px solid colors.$cf-color-white-500;
  padding: 30px 0;
  text-wrap: nowrap;
  &__counter {
    @include typography.spaceGrotesk;
    font-weight: fontWeight.$medium;
    font-size: 40px;
    justify-self: flex-start;
  }
  &__name {
    justify-self: flex-start;
  }
  &__icon {
    transform-origin: left bottom;
    transition: scale 300ms ease-out;
    &:hover {
      scale: 1.2;
    }
  }
}

.only_desktop {
  display: none;
  font-size: 20px;
}

@media (min-width: gridSystem.$regularDevice) {
  .projectsTable {
    &__header {
      text-align: start;
    }
  }
  .project__row {
    grid-template-columns: repeat(5, 1fr);
  }
  .only_desktop {
    display: revert;
  }
}
