/* Primary */
$cf-color-fuchsia-900: #2e0418;
$cf-color-fuchsia-800: #5b082f;
$cf-color-fuchsia-700: #890c47;
$cf-color-fuchsia-600: #b6105e;
$cf-color-fuchsia-500: #e41476;
$cf-color-fuchsia-400: #e94391;
$cf-color-fuchsia-300: #ef72ad;
$cf-color-fuchsia-200: #f4a1c8;
$cf-color-fuchsia-100: #fad0e4;
$cf-color-turquoise-900: #00282f;
$cf-color-turquoise-800: #01505f;
$cf-color-turquoise-700: #01788e;
$cf-color-turquoise-600: #02a0be;
$cf-color-turquoise-500: #02c8ed;
$cf-color-turquoise-400: #35d3f1;
$cf-color-turquoise-300: #67def4;
$cf-color-turquoise-200: #9ae9f8;
$cf-color-turquoise-100: #ccf4fb;
$cf-color-sapphire-900: #03050b;
$cf-color-sapphire-800: #060b16;
$cf-color-sapphire-700: #0a1021;
$cf-color-sapphire-600: #0d162c;
$cf-color-sapphire-500: #101b37;
$cf-color-sapphire-400: #40495f;
$cf-color-sapphire-300: #707687;
$cf-color-sapphire-200: #9fa4af;
$cf-color-sapphire-100: #cfd1d7;

/* Neutrals */
$cf-color-black-900: #030202;
$cf-color-black-800: #050404;
$cf-color-black-700: #080506;
$cf-color-black-600: #0a0708;
$cf-color-black-500: #0d090a;
$cf-color-black-400: #3d3a3b;
$cf-color-black-300: #6e6b6c;
$cf-color-black-200: #9e9d9d;
$cf-color-black-100: #cfcece;
$cf-color-white-900: #323332;
$cf-color-white-800: #656664;
$cf-color-white-700: #979895;
$cf-color-white-600: #cacbc7;
$cf-color-white-500: #fcfef9;
$cf-color-white-400: #fdfefa;
$cf-color-white-300: #fdfefb;
$cf-color-white-200: #fefffd;
$cf-color-white-100: #fefffe;

/* Secondary */
$cf-color-purple-900: #1c0a1c;
$cf-color-purple-800: #381338;
$cf-color-purple-700: #531d55;
$cf-color-purple-600: #6f2671;
$cf-color-purple-500: #8b308d;
$cf-color-purple-400: #a259a4;
$cf-color-purple-300: #b983bb;
$cf-color-purple-200: #d1acd1;
$cf-color-purple-100: #e8d6e8;
$cf-color-rose-900: #312025;
$cf-color-rose-800: #63404a;
$cf-color-rose-700: #94616f;
$cf-color-rose-600: #c68194;
$cf-color-rose-500: #f7a1b9;
$cf-color-rose-400: #f9b4c7;
$cf-color-rose-300: #fac7d5;
$cf-color-rose-200: #fcd9e3;
$cf-color-rose-100: #fdecf1;
$cf-color-lime-900: #2c2d19;
$cf-color-lime-800: #575a32;
$cf-color-lime-700: #83874a;
$cf-color-lime-600: #aeb463;
$cf-color-lime-500: #dae17c;
$cf-color-lime-400: #e1e796;
$cf-color-lime-300: #e9edb0;
$cf-color-lime-200: #f0f3cb;
$cf-color-lime-100: #f8f9e5;
$cf-color-apricot-900: #322d20;
$cf-color-apricot-800: #645a40;
$cf-color-apricot-700: #978760;
$cf-color-apricot-600: #c9b480;
$cf-color-apricot-500: #fbe1a0;
$cf-color-apricot-400: #fce7b3;
$cf-color-apricot-300: #fdedc6;
$cf-color-apricot-200: #fdf3d9;
$cf-color-apricot-100: #fef9ec;
$cf-color-lemon-900: #33300c;
$cf-color-lemon-800: #666018;
$cf-color-lemon-700: #998f24;
$cf-color-lemon-600: #ccbf30;
$cf-color-lemon-500: #ffef3c;
$cf-color-lemon-400: #fff263;
$cf-color-lemon-300: #fff58a;
$cf-color-lemon-200: #fff9b1;
$cf-color-lemon-100: #fffcd8;

/* System colors */
$cf-color-green-900: #0b1f14;
$cf-color-green-800: #173e28;
$cf-color-green-700: #225e3b;
$cf-color-green-600: #2e7d4f;
$cf-color-green-500: #399c63;
$cf-color-green-400: #61b082;
$cf-color-green-300: #88c4a1;
$cf-color-green-200: #b0d7c1;
$cf-color-green-100: #d7ebe0;
$cf-color-red-900: #280e0e;
$cf-color-red-800: #501c1c;
$cf-color-red-700: #792b2b;
$cf-color-red-600: #a13939;
$cf-color-red-500: #c94747;
$cf-color-red-400: #d46c6c;
$cf-color-red-300: #df9191;
$cf-color-red-200: #e9b5b5;
$cf-color-red-100: #f4dada;
