.articleWrapper {
  @extend .column_1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

@media (min-width: gridSystem.$regularDevice) {
  .articleWrapper {
    align-items: flex-end;
    > :last-child {
      $_columnWidthAndGap: gridSystem.$regularDeviceColumnWidth +
        gridSystem.$regularDeviceGap;
      margin-right: $_columnWidthAndGap * 1;
    }
  }
}

@media (min-width: gridSystem.$largeDevice) {
  .articleWrapper > :last-child {
    $_columnWidthAndGap: gridSystem.$largeDeviceColumnWidth +
      gridSystem.$largeDeviceGap;
    margin-right: $_columnWidthAndGap * 1;
  }
}
