@include animations.fadeIn;
@include animations.fadeOut;

.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100dvw;
  top: 0;
  background-color: black; // TODO Correct color
  z-index: 4;
  &__menu {
    display: flex;
    padding: 12px;
    &__icons {
      display: flex;
      align-items: center;
      position: relative;
      flex-grow: 1;
      &__icon {
        position: absolute;
        right: 0;
        opacity: 1;
        animation: fadeIn 500ms ease-in-out forwards;
        &__hidden {
          opacity: 0;
          animation: fadeOut 500ms ease-in-out forwards;
        }
      }
    }
  }
  > :not(.header__menu) {
    display: none;
  }
  &.open {
    height: 100dvh;
    > :not(.header__menu) {
      display: revert;
    }
    .header__menu {
      margin-bottom: 41px;
    }
    > :last-child {
      margin-top: 56px;
    }
  }
}

@media (min-width: gridSystem.$mediaDesktop) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    > :not(.header__menu) {
      display: revert;
    }
    > :last-child {
      margin: 0;
    }
    &.open {
      height: auto;
      .header__menu {
        margin-bottom: 0;
      }
      > :last-child {
        margin-top: 0;
      }
    }
  }
}
