.projectList {
  &__header {
    @include typography.spaceGrotesk;
    font-size: 48px;
    font-weight: fontWeight.$regular;
    color: colors.$cf-color-white-500;
    margin-bottom: 40px;
  }
  &__projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
@media (min-width: gridSystem.$regularDevice) {
  .projectList {
    &__header {
      font-size: 64px;
      margin-bottom: 48px;
    }
    &__projects {
      $gap: (gridSystem.$regularDeviceColumnWidth * 2) +
        (gridSystem.$regularDeviceGap * 3);
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: flex-start;
      gap: 0;
      column-gap: $gap;
      > :nth-child(even) {
        padding-top: 200px;
      }
    }
  }
}

@media (min-width: gridSystem.$largeDevice) {
  .projectList {
    &__projects {
      $gap: (gridSystem.$largeDeviceColumnWidth * 2) +
        (gridSystem.$largeDeviceGap * 3);
      column-gap: $gap;
    }
  }
}
